:root {
    font-family: "Readex Pro", sans-serif;
}

.navBar {
    margin: 0 30%;
    display: flex;
    justify-content: center;
}
  
.logo {
    height: 13rem;
}
  
.name {
    font-size: 40px;
    margin: 0 auto;
    font-weight: 100;
}
  
span {
    font-weight: 400;
}
  
.caja {
    display: block;
    justify-content: center;
    text-align: center;
}
  
.login {
    width: 70px;
}
  
.box {
    display: flex;
    justify-content: end;
    margin: 1rem 35%;
}
  
.contenedor {
    margin-top: 4rem;
}
  
.title {
    text-align: center;
    font-weight: 200;
    font-size: 2rem;
}
  
.grid {
    /* margin-top: 1.4rem; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 80rem;
    margin: 0 auto;
}
  
.producto {
    padding: 0px 4rem;
    border: solid 1px;
    border-radius: 200px;
}
  
  /* header {
    background-color: orange;
  } */
  
hr {
    margin-top: 4rem;
}
  
.productoImg {
    width: 100%;
}
  
.nombreProducto {
    color: black;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
  
.precioProducto {
    color: black;
    font-weight: 100;
    font-size: 25px;
    padding-bottom: 2.5rem;
}