a {
  text-decoration: inherit;
}

:root {
  font-family: "Readex Pro", sans-serif;
  --negro: #111111;
}

header {
  padding: 2rem;
}

.navBar {
  display: flex;
  justify-content: center;
}

.logo {
  height: 13rem;
}

.name {
  font-size: 40px;
  margin: 2rem;
  font-weight: 100;
  color: var(--negro);
}

span {
  font-weight: 400;
}

.caja {
  display: block;
  justify-content: center;
  text-align: center;
}

.login {
  width: 70px;
}

.box {
  display: flex;
  justify-content: space-between;
  margin: 1rem 35%;
}

.contenedor {
  padding: 2rem;
  background-color: var(--negro);
  margin: -8px;
}

.title-index {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  width: 80rem;
  margin: 0 auto;
}

@media (max-width: 1500px){
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50rem;
    gap: 5rem;
  }
}

@media (max-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 15rem;
  }
}

.producto {
  padding: 0px 4rem;
  border: solid 1px white;
  border-radius: 50px;
  background-color: white;
}

hr {
  margin-top: 4rem;
}

.productoImg {
  width: 100%;
}

.nombreProducto {
  color: var(--negro);
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.precioProducto {
  color: var(--negro);
  font-weight: 100;
  font-size: 25px;
  text-align: center;    
}

.producto:hover{
  border-radius: 150px;
  transition: 2.5s ;
}

.btn-carrito {
  text-align: center;
  margin: 2rem 0;
}

.btn-carrito button{
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: white;
  color: var(--negro);
  border-radius: 10px;
  padding: 1rem 2rem;
  font-weight: 200;
  font-family: "Readex Pro", sans-serif;
}

.btn-carrito button:hover{
  border-radius: 200px;
  transition: 5s;
  background-color: gray;
}

.form {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--negro);
  padding: 2rem 5rem;
  border-radius: 100px;
}

@media (max-width: 1500px){
  .form{
    top: 70%;
  }
}

.title {
  color: white;
  background-color: var(--negro);
  font-weight: 100;
  text-align: center;
}

.log {
  display: flex;
  justify-content: center;

}

.input-box {
  margin-top: 2rem;
  display: flex;
}


.lblIni {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 100;
  justify-content: center;

}

.input-box input {
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 16px;
  background-color: white;
  height: 2rem;
  width: 250px;
}

.btn-submit {
  display: flex;
  text-align: center;
  justify-content: center;

}

.btn-submit button {
  font-size: 20px;
  background-color: white;
  border: none;
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
  border-radius: 200px;
  padding: 5px 2rem;
}

.btn-submit button:hover:valid {
  background-color: gray;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.control-error {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.control-error p{
  color: red;
  font-weight: bold;
}

.register p {
  color: white;
  font-weight: 100;
}

.cart {
  height: 70px;
  width: 70px;
}

.title-divisa {
  color: white;
  font-size: 25px;
  font-weight: 100;
}

.divisaSelector {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
}

.titleD {
  margin-bottom: 1%;
}

.selector-divisa {
  padding: 0.5rem 1rem;
  font-size: 15px;
  border: none;
  text-align: center;
  appearance: none;
  border-radius: 10px;
}

/* Modal */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
}

.title-modal {
  display: block;
  text-align: center;
  justify-content: center;
}

.title-modal h2 {
  display: flex;
  margin: 0 auto;
  font-weight: 100;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}

.cart-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.product-info {
  flex: 1;
}

.remove-button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.total-producto {
  font-size: 30px;
  font-weight: 100;
}

.btn-cart {
  display: flex;
  justify-content: center;
}

.close-button {
  display: flex;
  align-items: center;
  margin: 0 20px;
  background-color: var(--negro);
  color: white;
  font-size: 20px;
  font-family: "Readex Pro", sans-serif;
  font-weight: 100;
  border: none;
  border-radius: 4px;
  padding: 5px 50px;
  cursor: pointer;
  margin-top: 10px;
}

.close-button:hover {
  border-radius: 50px;
  background-color: gray;
  transition: 5s;
}

.close-button:disabled {
  background-color: gray;
  cursor: no-drop;
}

/* tabla usuarios */

.table-user {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.table-user .table {
  width: 100%;
  border-collapse: collapse;
}

.table-user .table th,
.table-user .table td {
  text-align: center;
  padding: 8px;
  border: 1px solid #ddd;
}

.table-user .table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table-user .table td {
  vertical-align: middle;
}

.table-user .table caption {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 10px;
}

.boton-stock {
  padding: 5px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.boton-stock.incrementar {
  background-color: #4CAF50; /* Verde */
  color: white;
}

.boton-stock.incrementar:hover {
  background-color: #45a049;
}

.boton-stock.decrementar {
  background-color: #f44336; /* Rojo */
  color: white;
}

.boton-stock.decrementar:hover {
  background-color: #da190b;
}

.stock-container {
  display: flex;
  align-items: center; /* Alinea verticalmente */
  gap: 10px; /* Espacio entre los elementos */
}

.btn-stock {
  display: flex;
  justify-content: center;
}

.btnStock {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  color: white;
  background-color: #4CAF50;
  border: none;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-admin {
  font-weight: 100;
  justify-content: center;
}

.input-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

.precioProductoInput {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.result-info {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 5%;
  height: 500px;
  width: 450px;
}

.result-info h1 {
  font-weight: 500;
}

.result-info p {
  text-align: start;
  font-weight: 100;
  font-size: 30px;
}


.loader {
  margin: 0 auto;
  font-size: 1.5rem;
}