a {
  text-decoration: inherit;
}

:root {
  font-family: "Readex Pro", sans-serif;
}

header {
  padding: 2rem;
}

.navBar {
  display: flex;
  justify-content: center;
}

.logo {
  height: 13rem;
}

.name {
  font-size: 40px;
  margin: 2rem;
  font-weight: 100;
  color: black;
}

span {
  font-weight: 400;
}

.caja {
  display: block;
  justify-content: center;
  text-align: center;
}

.login {
  width: 70px;
}

.box {
  display: flex;
  justify-content: end;
  margin: 1rem 35%;
}

.contenedor {
  padding: 2rem;
  background-color: black;
  margin: -8px;
}

.title-index {
  text-align: center;
  font-weight: 200;
  font-size: 2rem;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  width: 80rem;
  margin: 0 auto;
}

.producto {
  padding: 0px 4rem;
  border: solid 1px white;
  border-radius: 50px;
  background-color: white;
}

hr {
  margin-top: 4rem;
}

.productoImg {
  width: 100%;
}

.nombreProducto {
  color: black;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.precioProducto {
  color: black;
  font-weight: 100;
  font-size: 25px;        
}

.producto:hover{
  border-radius: 200px;
  transition: 2.5s ;
}

.btn-carrito {
  text-align: center;
  margin: 2rem 0;

}

.btn-carrito button{
  border: none;
  font-size: 1rem;
  cursor: pointer;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  font-weight: 100;
}

.btn-carrito button:hover{
  border-radius: 200px;
  transition: 10s;
}

.form {
  position: absolute; /* O puedes usar 'relative' dependiendo de la estructura de tu página */
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  padding: 2rem 5rem;
  border-radius: 100px;
}

.title {
  color: white;
  background-color: black;
  font-weight: 100;
  text-align: center;
}

.log {
  display: flex;
  justify-content: center;

}

.input-box {
  margin-top: 2rem;
  display: flex;
}


.lblIni {
  display: flex;
  color: white;
  font-size: 20px;
  font-weight: 100;
  justify-content: center;

}

.input-box input {
  margin-top: -1.5rem;
  margin-left: auto;
  margin-right: auto;
  border: none;
  font-size: 16px;
  background-color: white;
  height: 1.5rem;
  width: 250px;
}

.btn-submit {
  display: flex;
  text-align: center;
  justify-content: center;

}

.btn-submit button {
  font-size: 20px;
  background-color: white;
  border: none;
  font-family: "Readex Pro", sans-serif;
  font-weight: 200;
  border-radius: 200px;
  padding: 5px 2rem;
  
}

.btn-submit button:hover:valid {
  background-color: gray;
  cursor: pointer;
  transition: background-color 1s ease-in-out;
}

.control-error {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.control-error p{
  color: red;
  font-weight: bold;
}
